@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@theme {
  /* Khai báo màu schoolBlue */
  --color-school-blue-50: #eff6ff;
  --color-school-blue-100: #dbeafe;
  --color-school-blue-200: #bfdbfe;
  --color-school-blue-300: #93c5fd;
  --color-school-blue-400: #60a5fa;
  --color-school-blue-500: #3b82f6;
  --color-school-blue-600: #2563eb;
  --color-school-blue-700: #1d4ed8;
  --color-school-blue-800: #1e40af;
  --color-school-blue-900: #1e3a8a;
  --color-school-blue-950: #172554;

  /* --text-base: 0.875rem; */
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  color: #1f2937;
  font-family: "Inter", sans-serif !important;
}
